
/**-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-
 * Ejercicio:
 * Modifique la opción 'iskeyword' para que las variables css (que pueden
 * incluir guión normal) sean reconocidas por completo de la siguiente
 * forma:
 *
 *   :set iskeyword+=-
 *
 * Después cambie las literales RGB en la clase "barra-superior" por las
 * variables que les corresponden.
 *
 * Resetear 'iskeyword' (Después de completar el ejercicio):
 *   :set iskeyword-=-
 *   :set iskeyword&
 *   (Cualquiera de las anteriores)
 */

:root {
  --color-primario:   #E21414;
  --color-secundario: #DA7878;
  --color-contraste:  #8251B4;
}

.barra-superior {
  background: #E21414;
  color: #8251B4;
}
/* Respuesta sugerida {{{
 *     La variable "--color-primario" debe asignarse a "background" y
 *     "--color-contraste" a "color". Lo primero es crear un espacio para
 *     posicionar las variables, moviéndote al principio de la literal RGB
 *     a eliminar (ya sea de "background" o "color") y presionando
 *     ct;var()<C-[> para luego repetirlo al principio de la siguiente
 *     literal
 *     Ahora sube para copiar cualquiera de los colores que se van a poner
 *     dentro de "var()"
 *     Cópialo con yiw y posicionate en el paréntesis abierto de "var()"
 *     para pegarlo con p
 *     Haga los mismo para el color faltante
 * }}}
/**v*v*v*v*v*v*v*v*v*v*v*v*v*v*v*v*v*v*v*v**/

/* vim: sts=2 ts=2 sw=2 ai sta nu fdm=marker tw=75
 */
