/*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*
 * Comenta el selector css
 *                                  Reusar selección previa: gv
 *
 */

.pacman {
    --pacman-color: gold;
    --pacman-tamaño: 100px;

    width: 0px;
    height: 0px;

    border: var(--pacman-tamaño) solid var(--pacman-color);
    border-right: var(--pacman-tamaño) solid transparent;
    border-radius: var(--pacman-tamaño);
}

/*
 * Respuesta sugerida {{{
 *     Desde el interior del bloque del selector:
 *         va{<Ctrl-V>I/*<Esc>gv$A*/
/* }}}
 */
/*v*v*v*v*v*v*v*v*v*v*v*v*v*v*v*v*v*v*v*v**/

/* vim: sts=4 ts=4 sw=4 ai sta nu fdm=marker tw=75
 */
